.content {
  text-align: center;
  background: #e3e6e7;
}
header {
  background: #858dbb;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h3 {
  padding: 5px;
  margin: 10px;
  font-size: 140%;
}
h3 .status {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  right: 5px;
  animation: 2s mix infinite;
}
.score {
  padding: 10px;
  border: 1px solid transparent;
}
.in-progress {
  background: #fbcb38;
}
.finished {
  background: #d84339;
}
.score.finished {
  border: 1px solid white;
  padding: 10px;
  background: none;
}
.not-started {
  background: #fff;
}
.paused {
  background: #f1cbb5;
}
.grid-row {
  padding: 0;
  margin: 0;
  height: 15px;
}
.board {
  margin: 45px 0;
  display: inline-block;
}
.icon {
  position: absolute;
  right: 0;
  font-size: 25px;
  margin: 13px;
  color: rgb(24, 24, 24);
  cursor: pointer;
  transition: 0.7s;
}
.icon:hover {
  transform: scale(1.5) rotate(360deg);
}
.game-mode{
  bottom: 32px;
}
.play{
  bottom: 0;
}
@keyframes mix {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.5);
  }
}
