.container {
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  overflow: hidden;
  box-shadow: 5px 5px 5px lightgrey;
}
